.main {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 35px;
}

.desc {
    font-size: 18px;
    line-height: 1.7;
}

.notesContainer {
    margin-top: 20px;
}

.contactList {
    display: flex;
    justify-content: center;
}

.contactItem {
    margin-right: 15px;
}

.photo {
    width: 150px;
    border-radius: 50%;
}

.cvLink {
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 10px;
}
